
###> symfony/framework-bundle ###
.env
.idea/
config/secrets/prod/prod.decrypt.private.php
public/bundles/
var/
vendor/
bin/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
